/*GENERAL*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFA;
}

i {
    color: #5e5e5e;
}


/*MENU*/

header {
    position: fixed;
    width: 100%;
}

header nav {
    background: #eb823f;
    margin: 0 auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.menu_bar {
    display: none;
}

header nav ul {
    list-style: none;
    overflow: hidden;
}

header nav ul li {
    float: right;
}

header nav ul li a {
    color: #fff;
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: .3s;
}

header nav ul li span {
    margin-right: 10px;
}

header nav ul li a:hover {
    background: #fff;
    color: #eb823f;
}

.title {
    color: #fff;
    padding-top: .5em;
    padding-left: 1em;
    float: left;
    font-family: 'Roboto', sans-serif;
}


/*USER*/

.user {
    margin: auto;
    width: 80%;
    padding-top: 4.5em;
    padding-bottom: .5em;
    padding-right: 1em;
    font-family: 'Roboto', sans-serif;
    color: #5e5e5e;
    text-align: right;
    border-bottom: .1em solid #5e5e5e;
}

.user a {
    text-decoration: none;
    color: #5e5e5e;
}

.user a:hover {
    text-decoration: underline;
}


/*CONTENT*/

.content {
    margin: auto;
    width: 80%;
    padding-top: 1em;
    font-family: 'Roboto', sans-serif;
    color: #5e5e5e;
}

.content a {
    text-decoration: none;
    color: #5e5e5e;
}

.content a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #eb823f;
    color: white;
    font-family: 'Roboto', sans-serif;
}

tr:hover {
    background-color: #f9d8c3
}

span.error {
    color: red;
    font-size: 50%;
}

.center {
    text-align: center !important;
}


/*PAGINATION*/

.paginator {
    margin-top: .5em;
    text-align: center;
}

.pagination {
    list-style: none;
}

.pagination li {
    display: inline-block;
}


/*FORMS*/

form {
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
}

form label {
    display: block;
    float: left;
    width: 150px;
    padding: 0;
    margin: 9px 0 0;
    text-align: right;
}

form input[type=text], form select, form input[type=password], form input[type=mail] {
    width: 20em;
    margin: 5px 0 0 10px;
    border: 1px solid #eb823f;
    padding: .8em .5em;
    border-radius: .3em;
}

form input[type=submit] {
    border: 1px solid #eb823f;
    width: 8em;
    padding: .5em;
    background: #eb823f;
    color: #fff;
    font-size: 16px;
    margin: .5em;
    border-radius: .3em;
}

form input[type=submit]:hover {
    cursor: pointer;
    background: #fff;
    color: #eb823f;
}

form input[type=button] {
    border: 1px solid #eb823f;
    width: 8em;
    padding: .5em;
    background: #eb823f;
    color: #fff;
    font-size: 16px;
    margin-top: .5em;
    border-radius: .3em;
}

form input[type=button]:hover {
    cursor: pointer;
    background: #fff;
    color: #eb823f;
}

fieldset {
    border: 1px solid #eb823f;
    border-radius: .3em;
    padding: .5em;
}

form br {
    clear: left;
}

div.boton {
    margin-right: 3px;
    background: #eb823f;
    width: 5em;
    float: left;
    border: solid black 1px;
    text-align: center;
}


/*FOOTER*/

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #eb823f;
    color: #fff;
    padding: .5em 0;
    font-family: 'Roboto', sans-serif;
}

#footer i {
    color: #fff;
}

#footer ul {
    text-align: center;
    list-style: none;
    margin: 1em 0;
}

#footer ul li {
    display: inline;
    margin-right: 1em;
}

#footer .last {
    margin-right: 0 !important;
}

#footer a {
    text-decoration: none;
    color: #fff;
}

#footer a:hover {
    text-decoration: underline;
    ;
}

.copyright {
    margin: 1em 0;
    width: 100%;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}


/*ESTILO EN MOVILES*/

@media screen and (max-width:800px) {
    * {
        margin: 0;
        padding: 0;
    }
    /*MENU*/
    header nav {
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
        width: 40%;
    }

    header nav ul li {
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        display: block;
        float: none;
    }

    .menu_bar {
        background: #ccc;
        display: block;
        width: 100%;
        font-family: 'Roboto', sans-serif;
    }

    .menu_bar .bt-menu {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: #eb823f;
        box-sizing: border-box;
        color: #fff;
        display: block;
        font-size: 25px;
        font-weight: bold;
        padding: 20px;
        text-decoration: none;
        cursor: default;
    }

    #btn {
        cursor: pointer !important;
    }

    .menu_bar span {
        float: right;
        font-size: 40px;
    }

    .title {
        display: none;
    }


    /*USER*/

    .user {
        box-sizing: border-box;
        margin: auto;
        width: 100%;
        padding-top: 5em;
        padding-bottom: .5em;
        padding-right: 1em;
        font-family: 'Roboto', sans-serif;
        color: #5e5e5e;
        text-align: right;
        border-bottom: .1em solid #5e5e5e;
    }


    /*CONTENT*/

    .content {
        box-sizing: border-box;
        margin: auto;
        width: 100%;
        padding-top: 5em;
        padding-left: .5em;
        padding-right: .5em;
        font-family: 'Lato', sans-serif;
    }


    /*FOOTER*/

    #footer {
        margin-top: 2em;
        width: 100%;
        background-color: #eb823f;
        color: #fff;
        text-align: center;
        padding: 1em 0;
        font-family: 'Roboto', sans-serif;
    }

    #footer i {
        color: #fff;
    }
}
